<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script
      defer
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"
    ></script>
    <script
      defer
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/vee-validate@2.x/dist/vee-validate.js"
    ></script>
    <script defer src="data.mjs" type="module"></script>
    <script defer src="main.mjs" type="module"></script>
    <title>Sparkle Up</title>
  </head>
  <body>
    <v-app id="sparkle-up" class="flex-auto">
      <v-app-bar app short class="primary flex-auto">
        <h1 class="text-h4 font-weight-bold white--text">{{appName}}</h1>
      </v-app-bar>

      <v-main class="flex-auto">
        <v-container class="main-content flex-auto" fluid>
          <div class="sparkle-form-container flex-auto">
            <v-form
              ref="sparklingWaterForm"
              v-model="valid"
              class="form"
              lazy-validation
            >
              <h3 class="text-h5 font-weight-medium text-center pb-4">
                &#129380; Add a sparkling water &#10024;
              </h3>
              <v-text-field
                filled
                v-model="flavor"
                :rules="flavorRules"
                label="Flavor"
                required
              ></v-text-field>

              <v-select
                filled
                v-model="selectBrand"
                :items="brands"
                :rules="brandRules"
                label="Brand"
                required
              ></v-select>

              <v-select
                filled
                v-model.number="selectScore"
                :items="scores"
                :rules="scoreRules"
                label="Score"
                required
              ></v-select>

              <v-text-field
                filled
                v-model="review"
                :rules="reviewRules"
                label="Review"
                required
              ></v-text-field>
              <div class="button-group">
                <v-btn
                  class="success"
                  type="submit"
                  :disabled="!valid"
                  @click.prevent="submit"
                >
                  Add Sparkling Water
                </v-btn>

                <v-btn color="error" @click.prevent="clear"> Reset </v-btn>
              </div>
            </v-form>
          </div>
        </v-container>
      </v-main>

      <v-footer app class="d-flex footer">
        <v-card flat tile class="primary white--text text-center" width="100%">
          <v-card-text>
            <v-btn
              v-for="icon in icons"
              :key="icon.svg"
              class="mx-4 white--text"
              :href="icon.link"
              target="_blank"
              icon
            >
              <v-icon size="30px"> {{ icon.svg }} </v-icon>
            </v-btn>
          </v-card-text>

          <v-card-text class="white--text pt-0 text-body1 font-weight-medium">
            I hope you enjoyed using Sparkle Up as much as I enjoyed building
            it! This app was built with Vue & Vuetify for experimenting
            purposes. If you want to, you can find me on the following
            platforms.
          </v-card-text>

          <v-divider></v-divider>

          <v-card-text class="white--text text-h6">
            {{ new Date().getFullYear() }} — <strong>{{ appName }}</strong>
          </v-card-text>
        </v-card>
      </v-footer>
    </v-app>
  </body>
</html>
