.flex-auto {
  display: flex;
  flex: auto;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 340px;
  height: 100%;
}
.main-content-inner-container {
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: space-evenly;
}
.main-content {
  display: flex;
  flex: auto;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.text-center {
  text-align: center;
}
.button-group {
  display: flex;
  justify-content: space-between;
}
.footer {
  padding: 0px;
  position: relative;
}
.sparkling-water-card {
  width: 800px;
  max-height: 600px;
}
.no-hover:hover {
  opacity: 0.62;
}

@media (max-width: 1300px) {
  .sparkling-water-card {
    width: 500px;
  }
}

@media (max-width: 1100px) {
  .main-content-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .sparkling-water-card {
    margin-top: 60px;
    width: 70%;
  }
}

@media (max-width: 700px) {
  .sparkling-water-card {
    width: 340px;
  }
}
